.pokemon-card {
    background: #fff;
    border-radius: 2px;
    height: 325px;
    margin-bottom: 1rem;
    position: relative;
    width: 250px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
  }
  
  .pokemon-card > .img-container {
    height: 60%;
    overflow: hidden;
    text-align: center;
    background: #6caddc;
  }
  .pokemon-card > .img-container > img {
    width: 100%;
  }
  
  .pokemon-card > .content {
    font-size: 15px;
  }
  
  .pokemon-card > .content > ul {
    list-style-type: none;
  }
  
  .pokemon-card > .content > ul > li {
    margin-top: 18px;
  }
  
  .pokemon-img {
    position: relative;
    top: -30px;
  }
  