.pokemon-header {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
  background-color: #233554;
  text-align: center;
}

.find-button {
  background: #2629ef;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 35px;
  padding: 12px 19px;
  font-weight: 900;
}